.idea
*/tags
superhakgoman/chrome_extension/make_page_red.zip
superhakgoman/chrome_extension/google_example/broken-links/background.js
superhakgoman/chrome_extension/google_example/broken-links/content.js
superhakgoman/chrome_extension/google_example/broken-links/devtools.html
superhakgoman/chrome_extension/google_example/broken-links/devtools.js
superhakgoman/chrome_extension/google_example/broken-links/manifest.json
superhakgoman/chrome_extension/noMoreD/jquery-2.1.4.min.js
superhakgoman/documents/Atom_with_plugin.md
